{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container background-white">
    {% if button_value == 'update' and text ==None %}
        {% include 'notFound.html' %}
     {% else %}
    {% if button_value== 'update' %}
        <form method="POST" action="{{ url_for('update_category',category_id=category_id) }}" class="form-inline center-block">
    {% else %}
        <form method="POST" action="{{ url_for('create_category') }}" class="form-inline center-block">
    {% endif %}
    <div class="form-group">
       <label for="name" class="lead"> Name:
           <input type="text" name="name" class="form-control form-submit" id="name" value="{{ text }}" >
       </label>
    </div>
        <input type="submit" value="{{ button_value }}" class=" btn btn-success">
    <a href="{{ url_for('view_categories') }}" class=" btn btn-primary">Cancel !</a>
    </form>
    {% endif %}
</div>
    {%  include 'footer.html' %}

{% endblock %}